.plan1 {
background: transparent;    
    
    color: rgb(17, 10, 10);
padding-top: 10px;
padding-bottom: 10px;
backdrop-filter: 8px;
   
}

.plan2 {

background: transparent;
color: rgb(6, 3, 3);



}