*{
  margin: 0;
  padding: 0;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
  position: fixed;
    padding-top: 20px;
    top: 0;
    right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100;
}
header .logo{
  width: 65px;
  padding-left: 45px;
}
header .text{
  position: relative;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.6s;
}
header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li{
  position: relative;
  list-style: none;
}
header ul li a{
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 20px;
  transition: 0.6s;
  font-weight: 550;

}

/* Sticky Navbar Work here */
header.Sticky {
  padding: 10px;
  width: 90%;
  margin: 20px 25px 0 10px;
  border-radius: 25px;
  background-color: #000;
}
header.Sticky .logo{
  width: 40px;
}
header.Sticky ul li a{
  color: #fff;
  padding: 20px;
  font-size: 0.8rem;
  margin-right: 15px;
}
header.Sticky .text{
  font-size: 1.1rem;
  color: #fff;
}
/* Wavy Effect */
.custom-shape-divider-bottom-1717836683 {
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1717836683 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 96px;
}

.custom-shape-divider-bottom-1717836683 .shape-fill {
  fill: #FFFFFF;
}
/* Wavy Effect Code End here! */

/* Bakchodi */
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: 0;
}


.backgg{
  background-image: url(Assest/image.png);
  background-size: cover;
  
  width: 100%;
  min-height: 100vh;
}
.page2{
  background: url('https://th.bing.com/th/id/OIP.oJfU3EPOWXkkjX3aQ6-K6wHaEK?rs=1&pid=ImgDetMain');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 100;
  display: none;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  color: black;
}
.sidebar li{
  width: 100%;

}
.sidebar li a{
  color: #000;
}
.menu{
  display: none;
}

/*  */
.container{
  display: flex;
  flex-wrap: nowrap;
}
.left, .right{
  height: 100vh;
  display: flex;
  align-items: center;
  
}
.left{
  width: 50%;
  padding-left: 4rem;
}
.right{
  width: 50%;
}
.content h1{
  font-size: 3.1rem;
  color: white;
  font-weight: 800;
}
.content h2{
  font-size: 1.7rem;
  color: #fed9b7;
  padding-top: 20px;
}
.content p{
  font-size: 1.4rem;
  color: white;
  font-weight: 400;
  margin: 1.1rem 0 2.7rem 0;
  max-width: 38rem;
  line-height: 2rem;
  word-spacing: .1rem;
}
.content .do-text{
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;

}
.btn button{
  border: .1rem solid rgb(14, 123, 224);
  font-size: 1.1rem;
  padding: 1rem 2.3rem;
  border-radius: .5rem;
  cursor: pointer;
}
.btn button a{
  text-decoration: none;
  color: white;
}
button{
  background-color: #f50101;
  color: #2a1241;
}
button:hover{
  background-color: #bb0c0c;
  color: rgb(255, 6, 6);
}
.right .right-content{
  margin-top: 20%;
}
.right .right-content img{
  width: 390px;
  left: 0;
}
/* Down Side Arrow */
.arrow{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Add Hover Effect here */


/* Responsive */
@media (max-width: 932px){
  header .logo{
    width: 40px;
  }
  header .text{
    font-size: 1rem;
  }
  header ul li a{
    font-size: 0.8rem;
  }
  .topbar{
    margin-left: 91%;
    margin-top: 93%;
    z-index: 100;
  }
  .right .right-content img{
    width: 280px;
  }
  .custom-shape-divider-bottom-1717836683 svg {
    position: relative;
    display: block;
    width: calc(100%);
    height: 96px;
  }
}


@media (max-width: 450px){
  .topbar{
    margin-top: 93%;
    margin-left: 42%;
    position: fixed;
  }
  .hide{
    display: none;
  }
  .menu{
    display: block;
  }
}